#boxes-pokens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100vw;
    height: 30vh;
    text-align: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.imagem-poken{
    width: 100px;
    height: 100px;
    padding: 5px;
}

.box-imagem {
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px;
}

.container-poken{
    /* background-color: #adffab; */
    /* background-color: #c7c7c7; */
    background-color: #f4c430;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 2%;
    width: 14vw;
    height: 42vh;
    padding: 10px;
    transition: ease-in-out 1ms;
    box-shadow: 2px 0px 0px 1px ;
}

.fundo-poken {
    height: 15vh;
    width: 14vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out 0.4s;
    background-color: #fff;
    border-radius: 4%;
    box-shadow: 1px 1px 1px 1px;
}

.exp-poken {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-legenda {
    font-family: Arial, Helvetica, sans-serif;
}
.numero-exp-poken{
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.nome-poken {
    font-size: 19px;
    font-weight: bold;
}

.exp-legenda {
    background-color: #e2462b;
    padding: 5px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 1px #e2462b;
}

.exp {
    background-color: #00ff7f;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px #00ff7f;
}