* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F1F6F9;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #606060;
}

.logo {
  width: 200px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 5rem;
  background: url("/assets/img/body_bg.png");
}
main .form-input .btn {
  cursor: pointer;
  width: 2vw;
  height: 3vh;
  text-align: center;
  border: 0;
  border-radius: 10px;
  background-color: #7c7373;
}
main .form-input .btn:hover {
  background-color: #9e9e9e;
}
main .form-input .item {
  width: 16vw;
  height: 3vh;
  text-align: center;
  border: none;
  outline: none;
  background-color: #7c7373;
  border-radius: 10px;
  margin: 10px;
}
main .form-input .item::-moz-placeholder {
  font-size: 0.9rem;
}
main .form-input .item::placeholder {
  font-size: 0.9rem;
}
main h2 {
  margin: 10px 30px;
}

@media (max-width: 880px) {
  main {
    justify-content: center;
    width: 100%;
    padding: 5rem;
  }
  main .form-input {
    justify-content: center;
    align-items: center;
  }
  main .form-input .btn {
    background-color: #7c7373;
    width: 5vw;
  }
}
@media (max-width: 800px) {
  main {
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    padding: 6rem;
  }
  main .logo {
    width: 200px;
  }
  main .form-input {
    justify-content: center;
    align-items: center;
  }
  main .form-input .item {
    width: auto;
    height: 3vh;
    text-align: center;
    border: none;
    outline: none;
    background-color: #7c7373;
    border-radius: 10px;
    margin: 10px;
  }
  main .form-input .btn {
    width: 10vw;
    height: 3vh;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: #9e9e9e;
  }
  main .form-input .btn:hover {
    background-color: #9e9e9e;
  }
}
@media (max-width: 716px) {
  main {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  main .form-input {
    justify-content: center;
    align-items: center;
  }
  main .form-input .item {
    width: 20vw;
  }
}
@media (max-width: 665px) {
  main {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .form-input {
    justify-content: center;
    align-items: center;
  }
  main .form-input .item {
    width: 40vw;
  }
  main .form-input .btn {
    width: 10vw;
  }
}
@media (max-width: 480px) {
  main {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .form-input {
    justify-content: center;
    align-items: center;
    width: auto;
  }
  main .form-input .item {
    width: 50vw;
  }
  main .form-input .btn {
    background-color: #7c7373;
    width: 10vw;
  }
}
@media (max-width: 350px) {
  main {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .form-input {
    justify-content: center;
    align-items: center;
    width: auto;
  }
  main .form-input .item {
    width: 50vw;
  }
  main .form-input .btn {
    background-color: #7c7373;
    width: 10vw;
  }
}
@media (max-width: 252px) {
  main {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50vh;
}
.container .container-poken {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #F1F6F9;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0.7rem;
  height: 29vh;
  width: 10vw;
  box-shadow: 5px 1px 10px 1px;
  cursor: pointer;
}
.container .container-poken:hover {
  transition: ease-in-out 0.6s;
  height: 30vh;
}
.container .container-poken .campo-id {
  text-align: right;
}
.container .container-poken .box-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2acd97;
  width: 10vw;
  height: 27vh;
  border-radius: 10px;
}
.container .container-poken .box-imagem .imagem-poken {
  width: 70px;
  opacity: 30;
}
.container .container-poken .box-imagem .imagem-poken:hover {
  transition: ease-in-out 1s;
  width: 90px;
}
.container .container-poken .fundo-poken {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2px;
  padding: 0.7rem;
  height: 80%;
  width: 10vw;
}
.container .container-poken .fundo-poken .nome-poken {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.4rem;
}
.container .container-poken .fundo-poken .exp-poken {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container .container-poken .fundo-poken .exp-poken .numero-exp-poken {
  font-family: Arial, Helvetica, sans-serif;
}
.container .container-poken .fundo-poken .exp-poken .exp {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .container-poken .fundo-poken .exp-poken .exp .tipo-exp {
  padding: 4px 10px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.container .container-poken .fundo-poken .exp-poken .exp .tipo {
  background-color: #D3756B;
  padding: 5px;
  margin: 0 15px;
  width: 4.3rem;
  text-align: center;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.container .container-poken .fundo-poken .exp-poken .exp-legenda {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.container .container-poken .fundo-poken .exp-poken .exp-legenda .tipo-legenda {
  padding: 4px 10px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.container .container-poken .fundo-poken .exp-poken .exp-legenda .tipo {
  background-color: #03C988;
  padding: 4px 10px;
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 3rem;
  text-align: center;
}

@media (max-width: 1730px) {
  .container {
    justify-content: center;
    height: 70vh;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .container .container-poken {
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    width: 10vw;
  }
  .container .container-poken .box-imagem {
    justify-content: center;
    flex-direction: column;
  }
  .container .container-poken .box-imagem .imagem-poken {
    width: 50px;
  }
  .container .container-poken .fundo-poken {
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: auto;
  }
  .container .container-poken .fundo-poken .nome-poken {
    font-size: 14px;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
  }
  .container .container-poken .fundo-poken .exp-poken {
    justify-content: center;
    flex-direction: column;
  }
  .container .container-poken .fundo-poken .exp-poken .exp {
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .container .container-poken .fundo-poken .exp-poken .exp .tipo-exp {
    padding: 4px;
  }
  .container .container-poken .fundo-poken .exp-poken .exp .tipo {
    padding: 3px;
    margin: 0 15px;
    width: 4.3rem;
    text-align: center;
  }
  .container .container-poken .fundo-poken .exp-poken .exp-legenda {
    justify-content: center;
    flex-direction: column;
  }
  .container .container-poken .fundo-poken .exp-poken .exp-legenda .tipo-legenda {
    padding: 5px;
  }
  .container .container-poken .fundo-poken .exp-poken .exp-legenda .tipo {
    padding: 3px;
    margin: 0 5px;
    width: 4.1rem;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .container {
    justify-content: center;
    flex-wrap: wrap;
    height: 40vh;
  }
  .container .container-poken {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 36vh;
    width: 16vw;
  }
  .container .container-poken .box-imagem {
    justify-content: center;
    width: 16vw;
    height: 20vh;
  }
  .container .container-poken .box-imagem .imagem-poken {
    width: 60px;
  }
}
@media (max-width: 780px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;
  }
  .container .container-poken {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 26vw;
  }
  .container .container-poken .box-imagem {
    justify-content: center;
    width: 26vw;
    height: 22vh;
  }
  .container .container-poken .box-imagem .imagem-poken {
    width: 60px;
  }
}
@media (max-width: 350px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
  }
  .container .container-poken {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    width: 38vw;
  }
  .container .container-poken .box-imagem {
    justify-content: center;
    align-items: center;
    width: 38vw;
    height: 34vh;
  }
  .container .container-poken .box-imagem .imagem-poken {
    width: 50px;
  }
}
@media (min-width: 800px) {
  main {
    justify-content: space-between;
    width: 100%;
    padding: 3rem;
  }
}/*# sourceMappingURL=style.css.map */